.bg{
    background-image: url('../assets/images/login.jpg'); height: 100%; background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1024px;
}

nobg{
    background-color: grey;
}
