.registration
{
    font-family: 'Trebuchet MS';
    top: 10px;
    margin: auto;
    max-width: 700px;
}
.subject-name
{
    background-color: #03a9f4 !important;
    min-height: 80px;
}

.card
{
    min-width: 245px;
    max-width: 245px;
    margin:10px;
    font-family: 'Trebuchet MS';
    font-size: 12px;
    min-height: 300px;
    max-height: 300px;
    overflow: hidden;
}

.card-title
{
    font-weight: 900;
}

.card .inputBox,
.show-hide-message
{
    position: relative;
    margin: 10px;
}

.card .inputBox input
{
    width:100%;
    padding: 10px 0;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid grey ;
    transition: border .1s ease-out;
    outline: none;
}

.card .inputBox label
{
    position:absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    pointer-events: none;
    transition: .5s;
    color: lightgrey;
}

.card .inputBox textarea:focus ~ label,
.card .inputBox textarea:valid ~ label
{
    top: -28px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}

.card .inputBox input:focus ~ label,
.card .inputBox input:valid ~ label
{
    top: -18px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
    
}

.card .inputBox input:focus,
.card .inputBox input:valid
{
    border-color: #03a9f4;
}

.policy
{
    font-size: 12px;
}

.help-block
{
    position:absolute;
    top: 0;
    right: 0;
    padding: 10px 0;
}

.help-block p
{
    top: 0;
    left: 0;
    font-size: 12px;
}

.show-hide-message
{
    margin: auto;
    top:0;
    padding: 0;
    font-size: 12px;
}

.buttons button
{
    margin:10px;
}

.design-display {
    width: 15rem; 
    display: inline-block;
    margin:5px;
}

.stars-outer
{
    position: relative;
    display: inline;
}

.stars-inner
{
    position: absolute;;
    top:0;
    left:0;
    white-space: nowrap;
    overflow: hidden;
    width: 0%;
}

.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: FontAwesome;
    font-weight: 900;
    color: lightgrey;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: FontAwesome;
    font-weight: 900;
    color:red;
}




