<div class="login">
  <form [formGroup]="form" (submit)="onLoginSubmit()">
    <div class="col-sm-10 shadow p-3 mb-5 bg-white rounded card">
      <div class="card-body">
        <h1 class="text-center">Let's get Started!</h1>
        <br>
        <br>
        <!-- Message Display -->
        <div class="row show-hide-message" style="width:100%;">
          <div [ngClass]="messageClass" class="text-center">
            {{ message }}
          </div>
        </div>

        <!-- email -->
        <div class="inputBox" [ngClass]="{'has-error': form.controls.email.errors && form.controls.email.dirty, 'has-success': form.controls.email.valid && form.controls.email.dirty }">
          <input type="text" name="email" required="" formControlName="email" />
          <label>Email</label>
          <!-- Error Block -->
          <div class="help-block">
            <!-- Required Error -->
            <p class="text-danger text-right" *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">*This
              field is Required</p>
          </div>
        </div>

        <!-- Password -->
        <div class="inputBox" [ngClass]="{'has-error': form.controls.password.errors && form.controls.password.dirty, 'has-success': form.controls.password.valid && form.controls.password.dirty }">
          <input type="password" name="password" required="" formControlName="password">
          <label>Password</label>
          <!-- Error Block -->
          <div class="help-block">
              <!-- Required Error -->
              <p class="text-danger text-right" *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">*This
                field is Required</p>
            </div>
        </div>

        <!-- Login Button -->
        <button [disabled]="!form.valid" class="btn btn-primary" type="submit" name="">Login</button>
        <p class="policy text-center" style="margin-top:5px;"><a href="#">Forgot Password?</a></p>

        <p class="signup text-center">Don't Have an account? <a routerLink="/register">Register here</a></p>
      </div>
    </div>
  </form>
</div>