<div class="container">
  <!-- Message Display -->
  <br />
  <div class="row show-hide-message">
    <div [ngClass]="messageClass" style="width:100%;" class="text-center">
      {{ message }}
    </div>
  </div>

  <!-- New Subject Form -->
  <div class="shadow mb-5 bg-white rounded card registration">

    <div class="card-header">
        <h3 class="text-center">Confirmation</h3>
    </div>
    <div class="card-body">
      

      <!-- Subject Number -->
      <div class="inputBox">
        <p>Are you sure?</p>
        <div class="buttons-position">
          <button type="button" class="btn btn-primary" (click)="deleteSubject()">Yes</button>
          <button type="button" class="btn btn-warning" (click)="goBack()">No</button>
        </div>
      </div>
    </div>
  </div>